/*******************************
    Button
*******************************/

.btn {
    display: inline-block;
    border: 1px solid #8b8c8d;
    background-color: $brand-default;
    @include font-set(400,14px,NanumSquare);
    line-height: (50-2)/14;
    color: $white;
    vertical-align: middle;
    cursor: pointer;
    .unit {
        color: #ffed29;
    }
}

.btn-xs {
    font-size: 12px;
    line-height: (26)/12;
}
.btn-sm {
    line-height: (32-2)/14;
}
.btn-md {
    font-size: 18px;
    line-height: (40-2)/18;
}
.btn-lg {
    font-size: 23px;
    line-height: (55-2)/23;
}

.btn-primary {
    border-color: $brand-primary;
    background-color: $brand-primary;
    &.inverse {
        background-color: $white;
        border-color: $brand-primary;
        color: $brand-primary;
    }
}
.btn-white {
    border-color: #dedede;
    background-color: $white;
    color: #555;
}

.btn-xs-circle {
    padding: 0 11px;
    border: 1px solid $brand-primary;
    @include border-radius(13px);
    background-color: $white;
    font-size: 12px;
    line-height: (26)/12;
    color: $brand-primary;
}

.has-arrow {
    position: relative;
    [class^="icon-"] {
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 10;
        margin-top: -8px;
        line-height: 15px !important;
    }
}
.btn-lg {
    &.has-arrow {
        [class^="icon-"] {
            font-size: 15px;
            line-height: (55-2)/15;
        }
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-block-group {
    .btn {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btn-group {
    display: table;
    width: 100%;
    .outer {
        display: table-cell;
        width: 50%;
        padding: 0 3px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        .btn {
            width: 100%;
        }
    }
    &.btn-inline {
        .outer {
            padding: 0;
        }
    }
}

//.btn-align {
//    margin-top: 25px;
//}
.btn-align-center {
    text-align: center;
}