/*******************************
    Icon
*******************************/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-double-right:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-circle:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-target:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-arrows-ccw:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-alam-clock:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-car-hand:before { content: '\e80c'; } /* '' */
.icon-car:before { content: '\e80d'; } /* '' */
.icon-check-circle:before { content: '\e80e'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-filter:before { content: '\e810'; } /* '' */
.icon-bluetooth:before { content: '\e811'; } /* '' */
.icon-cable:before { content: '\e812'; } /* '' */
.icon-camera:before { content: '\e813'; } /* '' */
.icon-check:before { content: '\e814'; } /* '' */
.icon-nosmoking:before { content: '\e815'; } /* '' */
.icon-up:before { content: '\e816'; } /* '' */
.icon-navigation:before { content: '\e817'; } /* '' */

[class^="sp-icon"] {
    @include sprite-image(0,0);
}

.sp-icon-left {}
.icon-right {}
.icon-left-open {}
.icon-right-open {}
.icon-big-up {}
.icon-big-down {}
.icon-big-close {}
.icon-target {}
.sp-icon-map {
    @include image-size(28px,40px);
    @include sprite-position(0,0);
    background-size: 320px auto;
}
.icon-map-white {}
.icon-phone {}
.icon-clock {}
.icon-sm-clock {}
.icon-sm-clock-primary {}
.icon-clock-white {}
.icon-big-phone {}
.icon-message {}
.icon-point {}
.icon-point-gray {}
.sp-icon-calendar {
    @include image-size(36px,30px);
    @include sprite-position(-280px,0);
}
.icon-sm-calendar {}
.icon-car {}
.icon-sm-car {}
.icon-sm-car-primary {}
.icon-vehicle {}
.icon-won {}
.icon-search {}
.icon-watch {}
.icon-lock {}
.icon-person-plus {}
.sp-icon-person {
    @include image-size(22px,26px);
    @include sprite-position(-420px,-70px);
}
.icon-check {}
.icon-big-check {}
.sp-icon-electric-cord {
    @include image-size(20px,30px);
    @include sprite-position(-490px,-70px);
}
.sp-icon-21 {
    @include image-size(68px,68px);
    @include sprite-position(-560px,-280px);
}
.sp-icon-license {
    @include image-size(66px,58px);
    @include sprite-position(-630px,-280px);
}
.icon-navigation {}
.icon-nosmoking {}
.icon-cable {}
.icon-bluetooth {}
.icon-camera {}
.icon-big-cancel {}
.icon-big-car {}
.icon-print {}
.icon-percent {}
.icon-comment {}
.icon-facebook {}
.icon-google {}
.icon-naver {}
.icon-kakaotalk {}
.icon-mail {}
.icon-question {}
.icon-answer {}

// Badge
.badge {
    display: inline-block;
    @include border-radius(8px);
    font: 500 9px 'Montserrat', 'Noto Sans KR', sans-serif;
    line-height: (17-2)/9;
    vertical-align: middle;
}
.badge-primary {
    padding: 0 14px;
    background-color: $brand-primary;
    line-height: (23)/13;
    color: $white;
}
.badge-discount {
    padding: 0 9px;
    border: 1px solid $brand-primary;
    background-color: $white;
    color: $brand-primary;
}
.badge-coupon {
    padding: 0 9px;
    border: 1px solid #275475;
    background-color: #275475;
    color: $white;
}