/*******************************
    Table
*******************************/

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
    border-top: 2px solid $brand-primary;
    th {
        padding: 14px;
        border: 1px solid #e1e1e1;
        font-weight: 700;
        font-size: 13px;
        vertical-align: middle;
    }
    td {
        padding: 14px;
        border: 1px solid #e1e1e1;
        font: 300 13px 'NotoSans', sans-serif;
        text-align: center;
        vertical-align: middle;
    }
    thead {
        th {
            background-color: #edf7f5;
        }
    }
}

// Calendar(Datepicker)
body {
    > .ui-datepicker-wrap {
        display: none;
    }
}
.hasDatepicker {
    .ui-datepicker-wrap {
        .modal-content {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 12;
            width: 100%;
            height: 341px;
            margin: auto;
            padding: 0 18px;
        }
        &:after {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.7);
            content: '';
        }
        .modal-head {
            padding: 13px 23px;
            background-color: $brand-primary;
            font-weight: 700;
            font-size: 20px;
            color: $white;
            text-align: left;
        }
        .btn-modal-close {
            position: absolute;
            top: 13px;
            right: 34px;
            .icon-close {
                font-size: 20px;
                color: $white;
            }
        }
    }
}
.ui-datepicker {
    display: none;
    width: 100%;
    padding: 22px 20px 35px;
    background-color: $white;
}
.ui-datepicker-header {
    position: relative;
    margin-bottom: 7px;
    .ui-datepicker-title {
        font: 500 20px 'Montserrat', 'NotoSans', sans-serif;
        color: #575757;
        text-align: center;
        vertical-align: middle;
        letter-spacing: 1px;
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        position: absolute;
        top: -2px;
        width: 37px;
        height: 30px;
        padding: 5px 0;
        border: 1px solid #dce0e0;
        @include border-radius(3px);
        background-color: $white;
        cursor: pointer;
        .ui-icon {
            @include sprite-image(0,0);
            @include image-size(32px,20px);
        }
    }
    .ui-datepicker-prev {
        left: 0;
        .ui-icon {
            @include sprite-position(-140px,0);
        }
    }
    .ui-datepicker-next {
        right: 0;
        .ui-icon {
            @include sprite-position(-210px,0);
        }
    }
}
.ui-datepicker-calendar {
    width: 100%;
    border-collapse: collapse;
    th, td {
        width: 40px;
        text-align: center;
        vertical-align: middle;
    }
    th {
        height: 30px;
        font: 400 16px 'Montserrat', 'NotoSans', sans-serif;
        color: #8e8e8e;
        text-transform: capitalize;
    }
    td {
        font-family: 'Lato', sans-serif;
    }
    .ui-state-default {
        display: block;
        margin: -1px;
        padding: 6px 0 7px;
        border: 1px solid #9ec3bb;
        background-color: #b4d6cf;
        color: #fff;
    }
    a.ui-state-default:hover {
        border: 1px solid #409182;
        background-color: #4aaf9d;
    }
    .ui-datepicker-current-day {
        .ui-state-default {
            border: 1px solid #409182;
            background-color: #4aaf9d;
        }
    }
    .ui-state-disabled {
        border: 0;
        background-color: transparent;
        cursor: default;
        .ui-state-default {
            border: 1px solid #ccc;
            background-color: #dedede;
            color: #bdbdbd;
        }
    }
}
