/*******************************
    Table
*******************************/

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
    border-top: 2px solid $brand-primary;
    th {
        padding: 14px 0;
        border: 1px solid #e1e1e1;
        font-size: 16px;
        vertical-align: middle;
    }
    td {
        padding: 14px 0;
        border: 1px solid #e1e1e1;
        font: 17px 'Noto Sans KR', sans-serif;
        text-align: center;
        vertical-align: middle;
    }
    thead {
        th {
            background-color: #edf7f5;
        }
    }
}

// Calendar(Datepicker)
.calendar {
    padding: 18px 45px 50px;
    border: 2px solid $brand-primary;
    background-color: $white;
    .calendar-head {
        margin-bottom: 5px;
        .calendar-month {
            font: 500 20px 'Montserrat', 'Noto Sans KR', sans-serif;
            color: #575757;
            text-align: center;
            vertical-align: middle;
            letter-spacing: 1px;
        }
        .btn-calendar {
            position: absolute;
            top: 19px;
            width: 37px;
            height: 30px;
            border: 1px solid #dce0e0;
            @include border-radius(3px);
            background-color: $white;
            cursor: pointer;
            &.left {
                left: 17px;
            }
            &.right {
                right: 17px;
            }
        }
    }
    .calendar-body {
        width: 100%;
        border-collapse: collapse;
        th, td {
            width: 40px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
        }
        th {
            font: 500 16px 'Noto Sans KR', sans-serif;
            color: #8e8e8e;
        }
        td {
            font-family: 'Lato', sans-serif;
        }
        .disable {
            border: 1px solid #ccc;
            background-color: #dedede;
            color: #bdbdbd;
        }
        .enable {
            border: 1px solid #9ec3bb;
            background-color: #b4d6cf;
            color: #fff;
            cursor: pointer;
            &:hover,
            &.active {
                border: 1px solid #409182;
                background-color: #4aaf9d;
            }
        }
    }
}
// timepicker
.timepicker {
    padding: 38px 28px 27px;
    border: 2px solid $brand-primary;
    background-color: $white;
    .selectbox-value {
        display: inline-block;
        width: 136px;
        padding-right: 30px;
        line-height: (60-2)/35;
        font: 500 35px 'Montserrat', sans-serif;
        text-align: center;
        &:before,
        &:after {
            position: absolute;
            right: 0;
            @include sp-icon(-512px,-81px);
            @include sp-size(12px,7px);
            padding: 7px 9px;
            border-left: 1px solid #b0b0b0;
            line-height: 29px;
            content: '';
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
            border-top: 1px solid #b0b0b0;
            background-position: -555px -81px;
        }
    }
    .add-time-colon {
        display: inline-block;
        padding: 0 2px;
        font: 500 35px 'Montserrat', sans-serif;
        vertical-align: text-bottom;
    }
}
