/*******************************
  Button
*******************************/
.btn-group-xs>.btn, .btn-xs {
    font-size: 10px;
}
.bootstrap-touchspin .input-group-btn-vertical {
    >.btn {
        padding: 3px 10px 8px;
    }
    i {
        top: 1px;
    }
}

/*******************************
  Form
*******************************/
label {
    margin-bottom: 3px;
}
.form-group {
    margin-bottom: 3px;
}
.input-group-btn.btn-blank {
    padding-left: 5px;
    .btn {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    &:last-child {
        margin-right: 0;
        > .btn {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            &:not(:last-child):not(.dropdown-toggle) {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }
    }
}
.control-label {
    font-weight: 400;
}
.input-inline {
    display: inline-block;
}
.checkbox, .radio {
    margin: 3px 0;
}
.checkbox label, .radio label {
    font-size: 11px;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 3px;
}

/*******************************
  Table
*******************************/
.table {
    >tbody>tr>td, >tbody>tr>th,
    >tfoot>tr>td, >tfoot>tr>th,
    >thead>tr>td, >thead>tr>th {
        font-size: 12px;
    }
    &.table-center {
        th, td {
            text-align: center;
        }
    }
}
.table-option {
    margin-bottom: 20px;
    .checkbox,
    .search-number {
        margin-top: 5px;
    }
    @media (max-width: 767px) {
        margin: 0 -3px 10px;
        > div {
            padding: 0 3px;
        }
        .checkbox {
            margin-left: 5px;
        }
    }
}
.table-no-result {
    padding: 100px 0 !important;
}

/*******************************
    Bootstrap Rewrite
*******************************/
.form-horizontal {
    .control-label {
        padding-top: 3px;
    }
    .form-group {
        margin-left: -5px;
        margin-right: -5px;
    }
}
.form-control-static {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 24px;
}
.alert {
    margin-bottom: 5px;
}
.bootstrap-timepicker-widget table td input {
    display: inline-block;
    padding: 3px 0;
}
.tablesaw-bar .tablesaw-toolbar .btn-select:after {
    padding-top: .4em;
}

/*******************************
    Contents
*******************************/
.content-page {
    > .content {
        margin: 110px 0 49px;
        padding-bottom: 10px;
    }
}
.page-title-box {
    position: fixed;
    top: 90px;
    right: 0;
    left: 20px;
    z-index: 100;
    height: 50px;
    .pull-right {
        button {
            margin-top: -6px;
        }
    }
    &.not-fixed {
        position: absolute;
        top: -40px;
        right: -15px !important;
        left: 15px !important;
        h4.page-title {
            font-size: 14px;
            span {
                margin-left: 5px;
                font-size: 11px;
            }
        }
    }
}
@media (min-width: 768px) {
    .fixed-left {
        .page-title-box {
            left: 260px;
        }
    }
    .fixed-left-void {
        .page-title-box {
            left: 90px;
        }
    }
}

/*******************************
  대여업무 > 얘약관리
*******************************/

/* 예약접수 */
.customer-card {
    padding: 0;
    @media (max-width: 991px) {
        .slimScrollDiv,
        .left-card {
            height: 193px !important;
        }
    }
}
.left-card {
    overflow: auto;
    padding: 0;
    ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
            display: block;
            padding: 5px 10px;
            p {
                margin-bottom: 0;
            }
            &:first-child {
                padding-top: 10px;
            }
            &:last-child {
                padding-bottom: 10px;
            }
            &:hover, &.active {
                background-color: #dae6ec;
            }
            .label {
                padding: 0.05em .6em 0;
                font-weight: 400;
            }
        }
    }
}
.reservation-manage {
    .btn-link {
        position: relative;
        padding: 0 0 0 6px !important;
        text-decoration: underline;
        &:before {
            position: absolute;
            left: 0;
            top: 3px;
            width: 1px;
            height: 12px;
            background-color: #888;
            content: '';
        }
        &:first-child:before {
            width: 0;
        }
    }
    @media (max-width: 991px) {
        .slimScrollDiv,
        .right-card {
            height: auto !important;
        }
    }
}
.right-card {
    .header-title {
        & + .text-right {
            font-size: 11px;
        }
    }
    .form-horizontal {
        .form-group {
            .form-group {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .close-time {
            display: inline-block;
            width: 50px;
            margin-right: 10px;
        }
        .alert {
            padding: 3px 10px;
        }
        .control-label {
            text-align: left;
        }
    }
    @media (max-width: 767px) {
        .form-group.m-r-10 {
            margin-right: 0;
        }
    }
}
.convenience-equipment-list {
    h4 {
        margin-top: 0;
        font-size: 14px;
    }
    .form-group {
        &:before, &:after {
            display:table;
            content:'';
        }
        &:after {
            clear:both
        }
        .control-label {
            float: left;
            padding-top: 7px;
        }
        .bootstrap-touchspin {
            float: left;
            width: 80px;
            margin: 0 10px;
            & + .unit {
                float: left;
                padding-top: 7px;
            }
        }
    }
}
.control-label-sub {
    display: block;
    font-size: 11px;
}
.charge-info {
    input.form-control {
        display: inline-block;
        width: 70px;
        font-size: 11px;
    }
    .form-inline {
        .checkbox {
            display: inline-block;
            padding-top: 3px;
        }
    }
    @media (min-width: 768px) {
        border-right: 1px solid #efefef;
        .form-inline {
            .checkbox {
                padding-left: 10px;
            }
        }
    }
}
.total-payment {
    margin-top: 10px;
    .payment {
        padding: 10px 0 1px;
        background-color: #dae6ec;
        text-align: center;
        span {
            font-weight: 700;
            font-size: 13px;
        }
        p {
            font-size: 16px;
        }
    }
    .deposit-info {
        margin: 0;
        border: 1px solid #dae6ec;
        dt {
            clear: both;
            padding: 5px;
            border-top: 1px solid #dae6ec;
            font-weight: 400;
            font-size: 11px;
        }
        dd {
            padding: 5px;
            border-top: 1px solid #dae6ec;
            border-left: 1px solid #dae6ec;
            font-size: 11px;
            &.text-danger {
                font-size: 12px;
            }
        }
        & + .col-xs-offset-5 {
            padding-left: 10px;
        }
    }
}