@import "variables.less";
@import "elements.less";

.clearfix {
    &:before {
        display: table;
        content: '';
    }
    &:after {
        clear: both;
        display: table;
        content: '';
    }
}

/*******************************
  Button
*******************************/
.btn-group-xs>.btn, .btn-xs {
    font-size: 10px;
}
.bootstrap-touchspin .input-group-btn-vertical {
    >.btn {
        padding: 3px 10px 8px;
    }
    i {
        top: 1px;
    }
}

/*******************************
  Form
*******************************/
label {
    margin-bottom: 3px;
}
.form-group {
    margin-bottom: 3px;
    &:last-child {
        margin-bottom: 0;
    }
}
.input-group-btn.btn-blank {
    padding-left: 5px;
    .btn {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    &:last-child {
        margin-right: 0;
        > .btn {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            &:not(:last-child):not(.dropdown-toggle) {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }
    }
}
.control-label {
    font-weight: 400;
}
.input-inline {
    display: inline-block;
}
.birth-form {
    .input-inline {
        width: 70%;
    }
}
.checkbox, .radio {
    margin: 3px 0;
}
.checkbox label, .radio label {
    font-size: 11px;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 3px;
}

/*******************************
  Table
*******************************/
.table {
    >tbody>tr>td, >tbody>tr>th,
    >tfoot>tr>td, >tfoot>tr>th,
    >thead>tr>td, >thead>tr>th {
        font-size: 12px;
    }
    &.table-center {
        th, td {
            text-align: center;
        }
    }
}
.table-option {
    margin-bottom: 5px;
    .checkbox,
    .search-number {
        margin-top: 5px;
    }
    @media (max-width: 767px) {
        margin: 0 -3px 10px;
        > div {
            padding: 0 3px;
        }
        .checkbox {
            margin-left: 5px;
        }
    }
}
.table-no-result {
    padding: 100px 0 !important;
}

/*******************************
    Bootstrap Rewrite
*******************************/
.form-horizontal {
    .control-label {
        padding-top: 3px;
    }
    .form-group {
        margin-left: -5px;
        margin-right: -5px;
    }
}
.form-control-static {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 24px;
}
.alert {
    margin-bottom: 5px;
    padding: 3px 10px;
}
.bootstrap-timepicker-widget table td input {
    display: inline-block;
    padding: 3px 0;
}
.tablesaw-bar .tablesaw-toolbar .btn-select:after {
    padding-top: .4em;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*******************************
    Contents
*******************************/
.w-70 {
    width: 70px;
}
.font-15 {
    font-size: 15px;
}
.list-wrap {
    margin: 0;
    border: 1px solid @light5;
    > * {
        margin-bottom: 0;
        padding: 0;
    }
}
.head-inverse {
    padding: 5px 0;
    background-color: @lightdark3;
    color: @white;
    text-align: center;
}
@media (max-width: 767px) {
    .xs-form-align {
        .clearfix;
        margin-bottom: 3px;
    }
    .xs-m-t-5 {
        margin-top: 5px !important;
    }
    .xs-m-t-10 {
        margin-top: 10px !important;
    }
}
.content-page {
    > .content {
        margin: 110px 0 72px;
        padding-bottom: 10px;
        @media (min-width: 480px) {
            margin-bottom: 52px;
        }
    }
}
.page-title-box {
    position: fixed;
    top: 90px;
    right: 0;
    left: 20px;
    z-index: 100;
    height: 50px;
    .pull-right {
        button {
            margin-top: -6px;
        }
    }
    &.not-fixed {
        position: absolute;
        top: -40px;
        right: -15px !important;
        left: 15px !important;
        h4.page-title {
            font-size: 14px;
            span {
                margin-left: 5px;
                font-size: 11px;
            }
        }
    }
}
@media (min-width: 768px) {
    .fixed-left {
        .page-title-box {
            left: 260px;
        }
    }
    .fixed-left-void {
        .page-title-box {
            left: 90px;
        }
    }
}
.card-title-box {
    margin: -5px -10px 10px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: @light;
    .header-title {
        margin: 0;
        line-height: 24px;
    }
    .btn-link {
        position: relative;
        padding: 0 0 0 6px !important;
        text-decoration: underline;
        &:before {
            position: absolute;
            left: 0;
            top: 3px;
            width: 1px;
            height: 12px;
            background-color: #888;
            content: '';
        }
        &:first-child:before {
            width: 0;
        }
    }
    .control-label {
        margin-bottom: 0;
    }
    .checkbox{
        margin: -5px 0 -3px;
    }
}
.tab-card-box {
    padding: 0;
    background-color: #f5f5f5;
}
.badge-title {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid @dark;
    background-color: @white;
    font-size: 14px;
    color: @inverse;
    p {
        margin: 5px 0 0;
        font-size: 11px;
    }
}
.info-content {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    @media (min-width: 768px) {
        display: table;
        > * {
            display: table-cell;
            vertical-align: middle;
        }
        .name-list {
            text-align: center;
        }
    }
}
.bottom-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 10px;
    background-color: #a5a5a5;
    .alert {
        margin: 0 5px;
        background-color: #d8d8d8;
    }
    @media (max-width: 767px) {
        .alert {
            display: block;
        }
    }
}
// Top Button
.btn-top {
    visibility: hidden;
    position: fixed;
    bottom: 65px;
    right: 15px;
    z-index: 10;
    width: 60px;
    height: 60px;
    .border-radius(50%);
    border: 0;
    background-color: @primary;
    color: @white;
    opacity: 0;
    .fa {
        font-size: 25px;
    }
    &.is-visible {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        -moz-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
}
.list-dotted {
    li {
        padding-left: 8px;
        text-indent: -8px;
        &:before {
            display: inline-block;
            width: 4px;
            height: 4px;
            margin-right: 5px;
            .border-radius(2px);
            background-color: @inverse;
            vertical-align: 3px;
            content: '';
        }
    }
}
.datetime-group {
    .bootstrap-timepicker {
        display: table-cell;
        width: 19%;
        padding-left: 5px;
    }
}

/*******************************
  대여업무 > 얘약관리
*******************************/

/* 예약접수 */
.customer-card {
    padding: 0;
    .nav.nav-tabs + .tab-content {
        margin-bottom: 5px;
        padding: 0;
    }
}
.left-card-box {
    @media (max-width: 991px) {
        .slimScrollDiv,
        .left-card,
        .tab-left-card {
            height: 193px !important;
        }
    }
}
.left-card,
.tab-left-card {
    overflow: auto;
    padding: 0;
    ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
            display: block;
            padding: 5px 10px;
            p {
                margin-bottom: 0;
            }
            &:first-child {
                padding-top: 10px;
            }
            &:last-child {
                padding-bottom: 10px;
            }
            &:hover, &.active {
                background-color: #dae6ec;
            }
            .label {
                padding: 0.05em .6em 0;
                font-weight: 400;
            }
        }
    }
}
.right-card-box {
    @media (max-width: 991px) {
        .slimScrollDiv,
        .right-card {
            height: auto !important;
        }
    }
}
.right-card {
    .header-title {
        & + .text-right {
            font-size: 11px;
        }
    }
    .form-horizontal {
        .form-group {
            .form-group {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .control-label {
            text-align: left;
        }
    }
    @media (max-width: 767px) {
        .form-group.m-r-10 {
            margin-right: 0;
        }
    }
}
.calculate-time {
    position: relative;
    .close-time {
        position: absolute;
        top: 76%;
        .form-control {
            display: inline-block;
            width: 50px;
            margin-right: 10px;
        }
    }
}
.convenience-equipment-list {
    h4 {
        margin-top: 0;
        font-size: 14px;
    }
    .form-group {
        &:before, &:after {
            display:table;
            content:'';
        }
        &:after {
            clear:both
        }
        .control-label {
            float: left;
            padding-top: 7px;
        }
        .bootstrap-touchspin {
            float: left;
            width: 80px;
            margin: 0 10px;
            & + .unit {
                float: left;
                padding-top: 7px;
            }
        }
    }
}
.control-label-sub {
    display: block;
    font-size: 11px;
}
.charge-info {
    &.no-line {
        border: 0;
    }
    input.form-control {
        display: inline-block;
        width: 70px;
        font-size: 11px;
    }
    input[id^="datepicker-"],
    input[id^="timepicker-"] {
        width: 100%;
    }
    .form-inline {
        .checkbox {
            display: inline-block;
            padding-top: 3px;
        }
    }
    @media (min-width: 768px) {
        border-right: 1px solid #efefef;
        .form-inline {
            .checkbox {
                padding-left: 10px;
            }
        }
    }
}
.total-payment {
    margin-top: 10px;
    .payment {
        padding: 10px 0 1px;
        background-color: #dae6ec;
        text-align: center;
        span {
            font-weight: 700;
            font-size: 13px;
        }
        p {
            font-size: 16px;
        }
    }
    .deposit-info {
        margin: 0;
        border: 1px solid #dae6ec;
        dt {
            clear: both;
            padding: 5px;
            border-top: 1px solid #dae6ec;
            font-weight: 400;
            font-size: 11px;
        }
        dd {
            padding: 5px;
            border-top: 1px solid #dae6ec;
            border-left: 1px solid #dae6ec;
            font-size: 11px;
            &.text-danger {
                font-size: 12px;
            }
        }
        & + .col-xs-offset-5 {
            padding-left: 10px;
        }
    }
}
.block-list-check {
    dl {
        dt {
            padding: 5px 0;
            color: @white;
            text-align: center;
        }
    }
    .block-left {
        dt {
            background-color: @lightdark3;
        }
        dd {
            font-weight: 700;
            font-size: 40px;
            line-height: 83px;
            text-align: center;
        }
    }
    .block-state {
        dt {
            background-color: @lightdark7;
        }
        dd {
            position: relative;
            padding: 0 25px;
            .btn-block-prev,
            .btn-block-next {
                position: absolute;
                top: 0;
                bottom: 0;
                .fa {
                    font-size: 16px;
                }
            }
            .btn-block-prev {
                left: 0;
            }
            .btn-block-next {
                right: 0;
            }
        }
    }
}
.paid-manage {
    display: table;
    width: 100%;
    margin: -11px 0 0;
    border: 1px solid #ededed;
    > * {
        display: table-cell;
        float: none;
        padding: 2px 5px;
        vertical-align: middle;
        .row {
            padding: 2px 0;
        }
    }
    @media (max-width: 767px) {
        display: block;
        > * {
            display: block;
        }
    }
}
.total-paid {
    border-left: 1px solid @light;
    dd {
        line-height: 55px;
        text-align: center;
    }
}