/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, select, option {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*******************************
    Typography
*******************************/
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url("../font/NanumSquareR.eot");
  src: url("../font/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareR.woff") format("woff"), url("../font/NanumSquareR.ttf") format("truetype"); }

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url("../font/NanumSquareB.eot");
  src: url("../font/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../font/NanumSquareB.woff") format("woff"), url("../font/NanumSquareB.ttf") format("truetype"); }

/*******************************
    Icon
*******************************/
[class^="icon-"] {
  display: inline-block;
  background: url("../images/sprites-icon.png") repeat 0 0;
  line-height: 0;
  color: transparent;
  vertical-align: middle; }

.icon-left {
  width: 17px;
  height: 10px;
  background-position: -477px -43px; }

.icon-right {
  width: 17px;
  height: 10px;
  background-position: -520px -43px; }

.icon-big-up {
  width: 73px;
  height: 73px;
  background-position: -173px 0; }

.icon-big-down {
  width: 73px;
  height: 73px;
  background-position: 0 0; }

.icon-target {
  width: 25px;
  height: 25px;
  background-position: -130px -87px; }

.icon-map {
  width: 16px;
  height: 22px;
  background-position: -87px -87px; }

.icon-phone {
  width: 18px;
  height: 18px;
  background-position: -433px -87px; }

.icon-clock {
  width: 18px;
  height: 18px;
  background-position: -347px -87px; }

/*******************************
    Button
*******************************/
.btn {
  display: inline-block;
  border: 1px solid #8b8c8d;
  background-color: #939598;
  font-family: 'NanumSquare', sans-serif;
  color: white;
  cursor: pointer; }

.btn-md {
  padding: 0 39px;
  font-size: 18px;
  line-height: 2.389; }

.btn-lg {
  padding: 0 76px;
  font-size: 28px;
  line-height: 2.286; }

.btn-primary {
  border-color: #4aaf9d;
  background-color: #4aaf9d; }

.btn-icon {
  font-size: 0; }

.has-arrow {
  position: relative; }
  .has-arrow:after {
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 10;
    margin-top: -8px;
    display: inline-block;
    background: url("../images/sprites-icon.png") repeat -607px -87px;
    line-height: 0;
    color: transparent;
    vertical-align: middle;
    width: 16px;
    height: 17px;
    content: ''; }

.btn-align-center {
  text-align: center; }

/*******************************
    Form
*******************************/
.form-control {
  width: 100%;
  border: 1px solid #e1e1e1; }

.input-lg {
  height: 84px;
  font-size: 26px; }

.input-group {
  position: relative;
  display: table;
  width: 100%; }
  .input-group .form-control,
  .input-group .input-group-btn {
    display: table-cell;
    vertical-align: middle; }
  .input-group .form-control {
    float: left; }
  .input-group .input-group-btn {
    width: 1%; }

.checkbox,
.radio {
  display: inline-block; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"],
  .radio input[type="checkbox"],
  .radio input[type="radio"] {
    position: fixed;
    top: -9999px;
    left: -9999px;
    visibility: hidden; }
  .checkbox .checkbox-display,
  .checkbox .checkbox-label,
  .checkbox .radio-display,
  .checkbox .radio-label,
  .radio .checkbox-display,
  .radio .checkbox-label,
  .radio .radio-display,
  .radio .radio-label {
    cursor: pointer; }
  .checkbox .checkbox-display,
  .checkbox .radio-display,
  .radio .checkbox-display,
  .radio .radio-display {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 3px 6px 5px 0;
    vertical-align: middle; }
  .checkbox input[type="checkbox"]:checked + .checkbox-display,
  .checkbox input[type="checkbox"]:checked + .checkbox-label,
  .checkbox input[type="radio"]:checked + .radio-display,
  .checkbox input[type="radio"]:checked + .radio-label,
  .radio input[type="checkbox"]:checked + .checkbox-display,
  .radio input[type="checkbox"]:checked + .checkbox-label,
  .radio input[type="radio"]:checked + .radio-display,
  .radio input[type="radio"]:checked + .radio-label {
    transition: all 0.3s ease; }
  .checkbox .checkbox-display,
  .radio .checkbox-display {
    background-image: url(../images/form-checkbox.png); }
  .checkbox input[type="checkbox"]:checked + .checkbox-display,
  .radio input[type="checkbox"]:checked + .checkbox-display {
    background-image: url(../images/form-checkbox-checked.png); }
  .checkbox .radio-display,
  .radio .radio-display {
    background-image: url(../images/form-radio.png); }
  .checkbox input[type="radio"]:checked ~ .radio-display,
  .radio input[type="radio"]:checked ~ .radio-display {
    background-image: url(../images/form-radio-checked.png); }

.checkbox-block {
  display: block;
  margin-top: 10px;
  font-size: 10px; }

.radio-group .radio {
  margin-right: 25px; }

.selectbox {
  position: relative;
  display: inline-block;
  border: 1px solid #b0b0b0;
  text-align: left;
  background-color: #fff; }
  .selectbox select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 30px;
    opacity: 0;
    cursor: pointer; }
  .selectbox .selectbox-value {
    padding-left: 10px;
    background-color: #fff;
    color: #000; }

/*******************************
    Table
*******************************/
.calendar {
  padding: 18px 45px 50px;
  border: 2px solid #4aaf9d;
  background-color: white; }
  .calendar .calendar-head {
    margin-bottom: 5px; }
    .calendar .calendar-head .calendar-month {
      font: 500 20px 'Montserrat', 'Noto Sans KR', sans-serif;
      color: #575757;
      text-align: center;
      vertical-align: middle;
      letter-spacing: 1px; }
    .calendar .calendar-head .btn-calendar {
      position: absolute;
      top: 19px;
      width: 37px;
      height: 30px;
      border: 1px solid #dce0e0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      background-color: white;
      cursor: pointer; }
      .calendar .calendar-head .btn-calendar.left {
        left: 17px; }
      .calendar .calendar-head .btn-calendar.right {
        right: 17px; }
  .calendar .calendar-body {
    width: 100%;
    border-collapse: collapse; }
    .calendar .calendar-body th, .calendar .calendar-body td {
      width: 40px;
      height: 30px;
      text-align: center;
      vertical-align: middle; }
    .calendar .calendar-body th {
      font: 500 16px 'Noto Sans KR', sans-serif;
      color: #8e8e8e; }
    .calendar .calendar-body td {
      font-family: 'Lato', sans-serif; }
    .calendar .calendar-body .disable {
      border: 1px solid #ccc;
      background-color: #dedede;
      color: #bdbdbd; }
    .calendar .calendar-body .enable {
      border: 1px solid #9ec3bb;
      background-color: #b4d6cf;
      color: #fff;
      cursor: pointer; }
      .calendar .calendar-body .enable:hover, .calendar .calendar-body .enable.active {
        border: 1px solid #409182;
        background-color: #4aaf9d; }

.timepicker {
  padding: 38px 28px 27px;
  border: 2px solid #4aaf9d;
  background-color: white; }
  .timepicker .selectbox-value {
    display: inline-block;
    width: 136px;
    padding-right: 30px;
    line-height: 1.657;
    font: 500 35px 'Montserrat', sans-serif;
    text-align: center; }
    .timepicker .selectbox-value:before, .timepicker .selectbox-value:after {
      position: absolute;
      right: 0;
      display: inline-block;
      background: url("../images/sprites-icon.png") repeat -512px -81px;
      line-height: 0;
      color: transparent;
      vertical-align: middle;
      width: 12px;
      height: 7px;
      padding: 7px 9px;
      border-left: 1px solid #b0b0b0;
      line-height: 29px;
      content: ''; }
    .timepicker .selectbox-value:before {
      top: 0; }
    .timepicker .selectbox-value:after {
      bottom: 0;
      border-top: 1px solid #b0b0b0;
      background-position: -555px -81px; }
  .timepicker .add-time-colon {
    display: inline-block;
    padding: 0 2px;
    font: 500 35px 'Montserrat', sans-serif;
    vertical-align: text-bottom; }

/*!
 * fullPage 2.9.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-section.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/*******************************
    Scaffolding
*******************************/
body {
  background-color: #f9f9f9;
  font: 400 14px 'NanumSquare', sans-serif;
  letter-spacing: -1px; }

a,
a:hover,
a:focus {
  text-decoration: none; }

/*******************************
    Layout
*******************************/
#wrap {
  min-width: 1200px; }
  #wrap:before, #wrap:after {
    content: " ";
    display: table; }
  #wrap:after {
    clear: both; }

/*******************************
    Side Bar
*******************************/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  background-color: #4aaf9d; }
  .sidebar .image-area img {
    width: 100%; }

.side-container {
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 10;
  text-align: center;
  color: white; }
  .side-container .side-content {
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    z-index: 11; }
    .side-container .side-content span {
      display: inline-block;
      padding: 10px 0;
      font-size: 34px;
      border-top: 1px solid #92cfc4;
      border-bottom: 1px solid #92cfc4; }
    .side-container .side-content strong {
      display: block;
      margin-top: 3px;
      font-weight: 700;
      font-size: 110px;
      text-align: center; }
    .side-container .side-content #menu-page li {
      display: inline-block;
      width: 90px;
      margin: 0 3px;
      vertical-align: bottom; }
      .side-container .side-content #menu-page li a {
        font-size: 17px;
        color: #acdad2; }
      .side-container .side-content #menu-page li:after {
        display: block;
        height: 5px;
        margin-top: 9px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        background-color: #acdad2;
        content: ''; }
      .side-container .side-content #menu-page li.active a {
        font-weight: 700;
        font-size: 18px;
        color: white; }
      .side-container .side-content #menu-page li.active:after {
        background-color: white; }
    @media (max-width: 1500px) {
      .side-container .side-content span {
        font-size: 27px; }
      .side-container .side-content strong {
        font-size: 87px; } }

/*******************************
    Header
*******************************/
.brand-logo {
  display: inline-block;
  margin-left: 72px; }
  .brand-logo a {
    display: block;
    width: 119px;
    height: 39px;
    background: url("../images/brand-logo.png") no-repeat 0 0; }

.header {
  padding: 33px 39px 0; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }
  .header .site-home {
    float: left; }

.megaMenu {
  margin-top: -49px; }
  .megaMenu .btn-menu {
    display: inline-block;
    font: 300 13px 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase; }
    .megaMenu .btn-menu:before, .megaMenu .btn-menu:after {
      display: block;
      width: 38px;
      margin: 6px 0;
      border: 3px solid white;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      content: ''; }

.site-quick-access {
  float: right;
  padding-top: 8px; }
  .site-quick-access li {
    float: left; }
    .site-quick-access li a {
      font: 300 14px 'Noto Sans KR', sans-serif;
      color: white; }
    .site-quick-access li:before {
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: 0 6px;
      background-color: #7cc5b8;
      content: ''; }
    .site-quick-access li:first-child:before {
      display: none; }

/*******************************
    Footer
*******************************/
.footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 10;
  width: 34%;
  min-width: 460px;
  text-align: center;
  font: 12px/17px 'Lato', 'Noto Sans KR', sans-serif;
  color: #bce2db; }
  .footer .terms-menu {
    margin-bottom: 6px; }
    .footer .terms-menu li {
      display: inline-block; }
      .footer .terms-menu li a {
        font-size: 14px;
        color: white; }
      .footer .terms-menu li:before {
        display: inline-block;
        width: 1px;
        height: 12px;
        margin: 0 11px;
        background-color: #86c2b7;
        content: ''; }
      .footer .terms-menu li:first-child:before {
        display: none; }
  .footer .company-info li {
    display: inline-block;
    margin: 0 5px; }

/*******************************
    Common
*******************************/
.section-title {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: -2px; }

/*******************************
    Main
*******************************/
.main {
  height: 100%; }
  .main .sidebar {
    width: 34%;
    min-width: 460px;
    height: 100%;
    background-color: #4aaf9d; }
  .main .content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 34%;
    z-index: 10;
    width: 66%;
    min-width: 740px;
    height: 100%;
    background-color: #fff; }
    @media (max-width: 1200px) {
      .main .content {
        left: 460px; } }

.page-guide {
  position: absolute;
  left: 50%;
  margin-left: -57px; }
  .page-guide.page-up {
    top: 28px; }
    .page-guide.page-up i {
      margin: 0 auto 13px; }
  .page-guide.page-down {
    bottom: 28px; }
    .page-guide.page-down i {
      margin: 13px auto 0; }
  .page-guide a {
    font-weight: 700;
    font-size: 22px;
    color: #ccc; }
    .page-guide a i {
      display: block; }
    .page-guide a:hover {
      color: #4aaf9d; }
      .page-guide a:hover .icon-big-up {
        background-position: -260px 0; }
      .page-guide a:hover .icon-big-down {
        background-position: -87px 0; }

.reservation {
  text-align: center; }
  .reservation .reservation-step {
    display: inline-block;
    width: 100%;
    padding: 0 116px 0 149px;
    text-align: left; }
    @media (max-width: 1600px) {
      .reservation .reservation-step {
        padding: 0 24px 0 40px; } }
    .reservation .reservation-step .step-title {
      margin: 25px 0 10px;
      font-size: 24px; }
      .reservation .reservation-step .step-title span {
        color: #4aaf9d; }
    .reservation .reservation-step .select-place {
      position: relative; }
      .reservation .reservation-step .select-place:before {
        display: inline-block;
        background: url("../images/sprites-icon.png") repeat 0 -87px;
        line-height: 0;
        color: transparent;
        vertical-align: middle;
        width: 21px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 40px;
        margin-top: -15px;
        content: ''; }
      .reservation .reservation-step .select-place .form-control {
        padding-left: 80px; }
      .reservation .reservation-step .select-place .btn {
        height: 84px;
        padding: 0 20px;
        line-height: 3.154; }
    .reservation .reservation-step > .active {
      position: relative; }
      .reservation .reservation-step > .active .select-place:before {
        background-position: -43px -87px; }
      .reservation .reservation-step > .active .select-place .form-control {
        padding-left: 79px;
        border: 2px solid #4aaf9d;
        font-weight: 700;
        color: #000; }
    .reservation .reservation-step .select-place-picker {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 11;
      width: 100%;
      border: 2px solid #4aaf9d;
      border-top: 0;
      background-color: #eef6f5; }
      .reservation .reservation-step .select-place-picker .tabs {
        padding: 16px 0;
        text-align: center; }
        .reservation .reservation-step .select-place-picker .tabs li {
          display: inline-block;
          width: 145px;
          height: 42px;
          border: 1px solid #b2dcd5;
          font-weight: 700;
          font-size: 20px;
          line-height: 2;
          color: #4aaf9d;
          cursor: pointer; }
          .reservation .reservation-step .select-place-picker .tabs li.active {
            border-color: #4aaf9d;
            background-color: #4aaf9d;
            color: #fff; }
      .reservation .reservation-step .select-place-picker .tab-content {
        border-top: 1px solid #d7e6e4; }
        .reservation .reservation-step .select-place-picker .tab-content .tab-pane {
          display: none; }
      .reservation .reservation-step .select-place-picker .content-select-place {
        position: relative;
        min-height: 223px; }
        .reservation .reservation-step .select-place-picker .content-select-place > li {
          margin-top: -1px; }
          .reservation .reservation-step .select-place-picker .content-select-place > li .radio .radio-label {
            display: inline-block;
            width: 306px;
            height: 65px;
            padding-right: 20px;
            border: 1px solid #d7e6e4;
            background-color: #f6fafa;
            font-size: 22px;
            line-height: 2.955;
            text-align: center;
            color: #74a39e; }
          .reservation .reservation-step .select-place-picker .content-select-place > li .radio .radio-display {
            margin: 0 0 0 -52px;
            background-color: #f6fafa; }
          .reservation .reservation-step .select-place-picker .content-select-place > li .radio input[type="radio"]:checked ~ .radio-label {
            background-color: #eef6f5;
            font-weight: 700;
            color: #4aaf9d; }
          .reservation .reservation-step .select-place-picker .content-select-place > li .radio input[type="radio"]:checked ~ .radio-display {
            background-color: #eef6f5; }
          .reservation .reservation-step .select-place-picker .content-select-place > li .content-place {
            display: none;
            position: absolute;
            top: 0;
            left: 306px;
            padding: 40px 0 40px 65px; }
            .reservation .reservation-step .select-place-picker .content-select-place > li .content-place .place-name {
              margin-bottom: 20px;
              font-weight: 700;
              font-size: 25px; }
            .reservation .reservation-step .select-place-picker .content-select-place > li .content-place .place-info {
              font-family: 'Montserrat', 'Noto Sans KR', sans-serif; }
              .reservation .reservation-step .select-place-picker .content-select-place > li .content-place .place-info > li {
                padding: 2px 0; }
                .reservation .reservation-step .select-place-picker .content-select-place > li .content-place .place-info > li.place-address {
                  padding: 2px 0 2px 54px;
                  text-indent: -54px; }
                .reservation .reservation-step .select-place-picker .content-select-place > li .content-place .place-info > li i {
                  margin-right: 5px; }
    .reservation .reservation-step .select-datetime {
      display: table;
      width: 100%;
      border: 1px solid #e1e1e1; }
      .reservation .reservation-step .select-datetime .add-on {
        display: table-cell;
        width: 5%;
        text-align: center;
        vertical-align: middle; }
        .reservation .reservation-step .select-datetime .add-on:before {
          display: inline-block;
          background: url("../images/sprites-icon.png") repeat -563px 0;
          line-height: 0;
          color: transparent;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          content: ''; }
      .reservation .reservation-step .select-datetime .select-date,
      .reservation .reservation-step .select-datetime .select-time {
        display: table-cell;
        height: 84px;
        padding: 0 30px;
        text-align: center;
        vertical-align: middle; }
        .reservation .reservation-step .select-datetime .select-date .text-date,
        .reservation .reservation-step .select-datetime .select-date .text-time,
        .reservation .reservation-step .select-datetime .select-time .text-date,
        .reservation .reservation-step .select-datetime .select-time .text-time {
          cursor: pointer; }
        .reservation .reservation-step .select-datetime .select-date.active,
        .reservation .reservation-step .select-datetime .select-time.active {
          position: relative; }
          .reservation .reservation-step .select-datetime .select-date.active:after,
          .reservation .reservation-step .select-datetime .select-time.active:after {
            position: absolute;
            top: -1px;
            z-index: -1;
            width: 100%;
            height: 84px;
            border: 2px solid #4aaf9d;
            content: ''; }
      .reservation .reservation-step .select-datetime .select-date .text-date:before, .reservation .reservation-step .select-datetime .select-date .text-date:after {
        content: " ";
        display: table; }
      .reservation .reservation-step .select-datetime .select-date .text-date:after {
        clear: both; }
      .reservation .reservation-step .select-datetime .select-date .text-date:before {
        float: left;
        display: inline-block;
        background: url("../images/sprites-icon.png") repeat -173px -87px;
        line-height: 0;
        color: transparent;
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin: 8px 9px 0 0;
        content: ''; }
      .reservation .reservation-step .select-datetime .select-date .text-date strong {
        float: left;
        font: 500 35px 'Montserrat', sans-serif; }
      .reservation .reservation-step .select-datetime .select-date .text-date small {
        float: left;
        margin: 6px 0 0 9px;
        padding-left: 9px;
        border-left: 1px solid #d6d6d6;
        font-size: 15px;
        color: #545454; }
        .reservation .reservation-step .select-datetime .select-date .text-date small span {
          display: block;
          margin-top: -3px;
          font: 14px 'Montserrat', sans-serif;
          color: #434343;
          letter-spacing: 1.5px; }
      .reservation .reservation-step .select-datetime .select-date.active:before {
        background-position: -217px -87px; }
      .reservation .reservation-step .select-datetime .select-date.active:after {
        left: -1px; }
      .reservation .reservation-step .select-datetime .select-time {
        border-left: 1px solid #e1e1e1; }
        .reservation .reservation-step .select-datetime .select-time:before {
          float: left;
          display: inline-block;
          background: url("../images/sprites-icon.png") repeat -260px -87px;
          line-height: 0;
          color: transparent;
          vertical-align: middle;
          width: 23px;
          height: 23px;
          margin: 10px 9px 0 0;
          content: ''; }
        .reservation .reservation-step .select-datetime .select-time strong {
          font: 500 35px 'Montserrat', sans-serif; }
        .reservation .reservation-step .select-datetime .select-time.active:before {
          background-position: -303px -87px; }
        .reservation .reservation-step .select-datetime .select-time.active:after {
          right: -1px; }
      @media (max-width: 1200px) {
        .reservation .reservation-step .select-datetime .select-date,
        .reservation .reservation-step .select-datetime .select-time {
          padding: 0 18px; }
          .reservation .reservation-step .select-datetime .select-date:before,
          .reservation .reservation-step .select-datetime .select-time:before {
            margin-top: 3px; }
          .reservation .reservation-step .select-datetime .select-date strong,
          .reservation .reservation-step .select-datetime .select-time strong {
            font-size: 26px; }
          .reservation .reservation-step .select-datetime .select-date small,
          .reservation .reservation-step .select-datetime .select-time small {
            margin-top: 4px;
            font-size: 12px; }
            .reservation .reservation-step .select-datetime .select-date small span,
            .reservation .reservation-step .select-datetime .select-time small span {
              margin-top: -1px;
              font-size: 11px; } }
      .reservation .reservation-step .select-datetime .datepicker,
      .reservation .reservation-step .select-datetime .timepicker {
        display: none;
        position: absolute;
        top: 84px;
        z-index: 11;
        cursor: default; }
      .reservation .reservation-step .select-datetime .datepicker {
        left: -1px;
        width: 370px; }
      .reservation .reservation-step .select-datetime .timepicker {
        right: -1px;
        width: 352px; }
        .reservation .reservation-step .select-datetime .timepicker .btn-align-center {
          margin-top: 18px; }
    .reservation .reservation-step .select-car:before, .reservation .reservation-step .select-car:after {
      content: " ";
      display: table; }
    .reservation .reservation-step .select-car:after {
      clear: both; }
    .reservation .reservation-step .select-car .checkbox {
      float: left; }
      .reservation .reservation-step .select-car .checkbox .checkbox-label {
        display: inline-block;
        width: 135px;
        margin-right: -1px;
        border: 1px solid #dadada;
        background-color: white;
        font-size: 20px;
        line-height: 4.1;
        text-align: center; }
      .reservation .reservation-step .select-car .checkbox input[type=checkbox]:checked + .checkbox-label {
        background-color: #4aaf9d;
        color: white; }
    .reservation .reservation-step .complete .select-place:before {
      display: inline-block;
      background: url("../images/sprites-icon.png") repeat -43px -87px;
      line-height: 0;
      color: transparent;
      vertical-align: middle; }
    .reservation .reservation-step .complete.select-date:before {
      background-position: -217px -87px; }
    .reservation .reservation-step .complete.select-time:before {
      background-position: -303px -87px; }
    .reservation .reservation-step + .btn-align-center {
      margin-top: 25px; }

.service-info:before, .service-info:after {
  content: " ";
  display: table; }

.service-info:after {
  clear: both; }

.service-info > li {
  float: left;
  width: 33.3%;
  text-align: center; }
  .service-info > li .main-text {
    font-size: 35px; }
  .service-info > li .sub-text {
    font-size: 25px;
    line-height: 35px; }

.service-info .partner-info,
.service-info .discount-info,
.service-info .reservation-info {
  margin: 83px 0 80px; }
  .service-info .partner-info li,
  .service-info .discount-info li,
  .service-info .reservation-info li {
    display: inline-block;
    padding: 0 14px; }
    .service-info .partner-info li:before,
    .service-info .discount-info li:before,
    .service-info .reservation-info li:before {
      display: inline-block;
      background: url("../images/sprites-icon.png") repeat 0 -217px;
      line-height: 0;
      color: transparent;
      vertical-align: middle;
      width: 108px;
      height: 108px;
      display: block;
      margin-bottom: 8px;
      content: ''; }

.service-info .partner-info {
  color: #939598; }
  .service-info .partner-info .affiliate:before {
    background-position: 0 -217px; }
  .service-info .partner-info .car:before {
    background-position: -130px -217px; }

.service-info .discount-info {
  color: #4aaf9d; }
  .service-info .discount-info .coupon:before {
    background-position: -260px -217px; }
  .service-info .discount-info .discount:before {
    background-position: -390px -217px; }

.service-info .reservation-info .quick-reservation:before {
  background-position: 0 -347px; }

.service-info .reservation-info .quick-delivery:before {
  background-position: -130px -347px; }

/*******************************
    Helper Class
*******************************/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hide {
  display: none; }

.show {
  display: block; }
