@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
.clearfix:before {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
  display: table;
  content: '';
}
/*******************************
  Button
*******************************/
.btn-group-xs > .btn,
.btn-xs {
  font-size: 10px;
}
.bootstrap-touchspin .input-group-btn-vertical > .btn {
  padding: 3px 10px 8px;
}
.bootstrap-touchspin .input-group-btn-vertical i {
  top: 1px;
}
/*******************************
  Form
*******************************/
label {
  margin-bottom: 3px;
}
.form-group {
  margin-bottom: 3px;
}
.input-group-btn.btn-blank {
  padding-left: 5px;
}
.input-group-btn.btn-blank .btn {
  margin-right: 5px;
}
.input-group-btn.btn-blank .btn:last-child {
  margin-right: 0;
}
.input-group-btn.btn-blank:last-child {
  margin-right: 0;
}
.input-group-btn.btn-blank:last-child > .btn {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.input-group-btn.btn-blank:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.control-label {
  font-weight: 400;
}
.input-inline {
  display: inline-block;
}
.checkbox,
.radio {
  margin: 3px 0;
}
.checkbox label,
.radio label {
  font-size: 11px;
}
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
  padding-top: 3px;
}
/*******************************
  Table
*******************************/
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  font-size: 12px;
}
.table.table-center th,
.table.table-center td {
  text-align: center;
}
.table-option {
  margin-bottom: 20px;
}
.table-option .checkbox,
.table-option .search-number {
  margin-top: 5px;
}
@media (max-width: 767px) {
  .table-option {
    margin: 0 -3px 10px;
  }
  .table-option > div {
    padding: 0 3px;
  }
  .table-option .checkbox {
    margin-left: 5px;
  }
}
.table-no-result {
  padding: 100px 0 !important;
}
/*******************************
    Bootstrap Rewrite
*******************************/
.form-horizontal .control-label {
  padding-top: 3px;
}
.form-horizontal .form-group {
  margin-left: -5px;
  margin-right: -5px;
}
.form-control-static {
  padding-top: 3px;
  padding-bottom: 3px;
  min-height: 24px;
}
.alert {
  margin-bottom: 5px;
}
.bootstrap-timepicker-widget table td input {
  display: inline-block;
  padding: 3px 0;
}
.tablesaw-bar .tablesaw-toolbar .btn-select:after {
  padding-top: .4em;
}
/*******************************
    Contents
*******************************/
@media (max-width: 767px) {
  .xs-form-align {
    margin-bottom: 3px;
  }
  .xs-form-align:before {
    display: table;
    content: '';
  }
  .xs-form-align:after {
    clear: both;
    display: table;
    content: '';
  }
}
.content-page > .content {
  margin: 110px 0 49px;
  padding-bottom: 10px;
}
.page-title-box {
  position: fixed;
  top: 90px;
  right: 0;
  left: 20px;
  z-index: 100;
  height: 50px;
}
.page-title-box .pull-right button {
  margin-top: -6px;
}
.page-title-box.not-fixed {
  position: absolute;
  top: -40px;
  right: -15px !important;
  left: 15px !important;
}
.page-title-box.not-fixed h4.page-title {
  font-size: 14px;
}
.page-title-box.not-fixed h4.page-title span {
  margin-left: 5px;
  font-size: 11px;
}
@media (min-width: 768px) {
  .fixed-left .page-title-box {
    left: 260px;
  }
  .fixed-left-void .page-title-box {
    left: 90px;
  }
}
.card-title-box {
  height: 44px;
  margin: -10px -10px 10px;
  padding: 10px 5px 10px;
  background-color: #eeeeee;
}
.card-title-box .header-title {
  margin: 0;
  line-height: 24px;
}
/*******************************
  대여업무 > 얘약관리
*******************************/
/* 예약접수 */
.customer-card {
  padding: 0;
}
@media (max-width: 991px) {
  .left-card-box .slimScrollDiv,
  .left-card-box .left-card {
    height: 193px !important;
  }
}
.left-card {
  overflow: auto;
  padding: 0;
}
.left-card ul {
  margin-bottom: 0;
  padding-left: 0;
}
.left-card ul li {
  display: block;
  padding: 5px 10px;
}
.left-card ul li p {
  margin-bottom: 0;
}
.left-card ul li:first-child {
  padding-top: 10px;
}
.left-card ul li:last-child {
  padding-bottom: 10px;
}
.left-card ul li:hover,
.left-card ul li.active {
  background-color: #dae6ec;
}
.left-card ul li .label {
  padding: 0.05em .6em 0;
  font-weight: 400;
}
.reservation-manage .btn-link {
  position: relative;
  padding: 0 0 0 6px !important;
  text-decoration: underline;
}
.reservation-manage .btn-link:before {
  position: absolute;
  left: 0;
  top: 3px;
  width: 1px;
  height: 12px;
  background-color: #888;
  content: '';
}
.reservation-manage .btn-link:first-child:before {
  width: 0;
}
@media (max-width: 991px) {
  .right-card-box .slimScrollDiv,
  .right-card-box .right-card {
    height: auto !important;
  }
}
.right-card .header-title + .text-right {
  font-size: 11px;
}
.right-card .form-horizontal .form-group .form-group {
  margin-left: 0;
  margin-right: 0;
}
.right-card .form-horizontal .close-time {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
}
.right-card .form-horizontal .alert {
  padding: 3px 10px;
}
.right-card .form-horizontal .control-label {
  text-align: left;
}
@media (max-width: 767px) {
  .right-card .form-group.m-r-10 {
    margin-right: 0;
  }
}
.convenience-equipment-list h4 {
  margin-top: 0;
  font-size: 14px;
}
.convenience-equipment-list .form-group:before,
.convenience-equipment-list .form-group:after {
  display: table;
  content: '';
}
.convenience-equipment-list .form-group:after {
  clear: both;
}
.convenience-equipment-list .form-group .control-label {
  float: left;
  padding-top: 7px;
}
.convenience-equipment-list .form-group .bootstrap-touchspin {
  float: left;
  width: 80px;
  margin: 0 10px;
}
.convenience-equipment-list .form-group .bootstrap-touchspin + .unit {
  float: left;
  padding-top: 7px;
}
.control-label-sub {
  display: block;
  font-size: 11px;
}
.charge-info input.form-control {
  display: inline-block;
  width: 70px;
  font-size: 11px;
}
.charge-info .form-inline .checkbox {
  display: inline-block;
  padding-top: 3px;
}
@media (min-width: 768px) {
  .charge-info {
    border-right: 1px solid #efefef;
  }
  .charge-info .form-inline .checkbox {
    padding-left: 10px;
  }
}
.total-payment {
  margin-top: 10px;
}
.total-payment .payment {
  padding: 10px 0 1px;
  background-color: #dae6ec;
  text-align: center;
}
.total-payment .payment span {
  font-weight: 700;
  font-size: 13px;
}
.total-payment .payment p {
  font-size: 16px;
}
.total-payment .deposit-info {
  margin: 0;
  border: 1px solid #dae6ec;
}
.total-payment .deposit-info dt {
  clear: both;
  padding: 5px;
  border-top: 1px solid #dae6ec;
  font-weight: 400;
  font-size: 11px;
}
.total-payment .deposit-info dd {
  padding: 5px;
  border-top: 1px solid #dae6ec;
  border-left: 1px solid #dae6ec;
  font-size: 11px;
}
.total-payment .deposit-info dd.text-danger {
  font-size: 12px;
}
.total-payment .deposit-info + .col-xs-offset-5 {
  padding-left: 10px;
}
/*# sourceMappingURL=custom.css.map */