@import "variables";
@import "reset";
@import "mixins";
@import "component/component";

/*******************************
    Scaffolding
*******************************/
body {
    background-color: $body-bg;
    font: 400 14px 'NanumSquare', sans-serif;
    letter-spacing: -1px;
}
a,
a:hover {
    color: $text-color;
    text-decoration: none;
}
img,
.image img {
    width: 100%;
}
button {
    border: 0;
    cursor: pointer;
}


/*******************************
    Layout
*******************************/
.scrollFixed {
    .fp-scroller,
    .iScrollIndicator {
        height: 100%;
        transform: translate(0px, 0px) translateZ(0px) !important;
    }
    .iScrollVerticalScrollbar {
        display: none !important;
    }
}
#wrap {
    @include clearfix;
    min-width: 1200px;
}
.content {
    //width: 66%;
    //min-width: 740px;
}
.main {
    height: 100%;
    .content {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 34%;
        z-index: 10;
        width: 66%;
        min-width: 740px;
        height: 100%;
        background-color: $white;
        @media (max-width: 1200px) {
            left: 460px;
        }
    }
}
.reservation {
    .content {
        width: 66%;
        min-width: 740px;
        margin-left: 34%;
        padding: 92px 136px 150px 126px;
        @media (max-width: 1200px) {
            margin-left: 460px;
        }
    }
}

/*******************************
    Side Bar
*******************************/
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $brand-primary;
    .image-area {
        img {
            width: 100%;
        }
    }
    .side-content {
        position: relative;
        text-align: center;
    }
}
.indicator-box {
    position: relative;
    width: 293px;
    margin: 70px auto 75px;
    .indicator {
        text-align: center;
        li {
            display: inline-block;
            width: 90px;
            margin: 0 3px;
            vertical-align: bottom;
            a {
                font-size: 17px;
                color: #acdad2;
            }
            &:after {
                display: block;
                height: 5px;
                margin-top: 9px;
                @include border-radius(2px);
                background-color: #acdad2;
                content: '';
            }
            &.current {
                a {
                    font-weight: 700;
                    font-size: 18px;
                    color: $white;
                }
                &:after {
                    background-color: $white;
                }
            }
        }
    }
    .btn-upgrade {
        position: absolute;
        top: 0;
        right: -105px;
        padding: 5px 10px;
        border: 3px solid $white;
        @include border-radius(20px);
        background-color: transparent;
        font-weight: 700;
        font-size: 13px;
        color: $white;
        &:hover, &.on {
            background-color: $white;
            color: $brand-primary;
        }
    }
    @media (max-width: 1500px) {
        width: 248px;
        .indicator {
            li {
                width: 75px;
                a {
                    font-size: 15px;
                }
                &.current {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
        .btn-upgrade {
            right: -90px;
        }
    }
}
.car-sample {
    padding: 0 80px;
    img {
        width: 100%;
    }
    &:after {
        display: inline-block;
        width:80%;
        height: 1px;
        background-color: #90cdc2;
        content: '';
    }
    @media (max-width: 1500px) {
        padding: 0 40px;
    }
}
.main {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 34%;
        min-width: 460px;
        height: 100%;
    }
    .side-container {
        position: absolute;
        right: 0;
        bottom: 50px;
        left: 0;
        z-index: 10;
        text-align: center;
        color: $white;
        .side-content {
            position: absolute;
            top: -110px;
            left: 0;
            width: 100%;
            z-index: 11;
            span {
                display: inline-block;
                padding: 10px 0;
                font-size: 34px;
                border-top: 1px solid #92cfc4;
                border-bottom: 1px solid #92cfc4;
            }
            strong {
                display: block;
                margin-top: 3px;
                font-weight: 700;
                font-size: 110px;
                text-align: center;
            }
            #menu-page {
                li {
                    display: inline-block;
                    width: 90px;
                    margin: 0 3px;
                    vertical-align: bottom;
                    a {
                        font-size: 17px;
                        color: #acdad2;
                    }
                    &:after {
                        display: block;
                        height: 5px;
                        margin-top: 9px;
                        @include border-radius(2px);
                        background-color: #acdad2;
                        content: '';
                    }
                    &.active {
                        a {
                            font-weight: 700;
                            font-size: 18px;
                            color: $white;
                        }
                        &:after {
                            background-color: $white;
                        }
                    }
                }
            }
            @media (max-width: 1500px) {
                span {
                    font-size: 27px;
                }
                strong {
                    font-size: 87px;
                }
            }
        }
    }
}
.reservation {
    .sidebar {
        width: 34%;
        min-width: 460px;
    }
}

/*******************************
    Header
*******************************/
.brand-logo {
    display: inline-block;
    margin-left: 72px;
    a {
        display: block;
        width: 119px;
        height: 39px;
        background: url("../images/brand-logo.png") no-repeat 0 0;
    }
}
.header {
    @include clearfix;
    padding: 33px 39px 0;
    .site-home {
        float: left;
    }
}
.btn-menu {
    display: block;
    margin-top: -49px;
    font: 300 13px 'Montserrat', sans-serif;
    color: $white;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:before,
    &:after {
        display: block;
        width: 38px;
        margin: 6px 0;
        border: 3px solid $white;
        @include border-radius(3px);
        content: '';
    }
    &:hover {
        color: $white;
    }
}
.megamenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    min-width: 1200px;
    height: 100%;
    background-color: $white;
    text-align: center;
    .menu-wrap {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        > span {
            display: block;
            margin-bottom: 10px;
            font-size: 40px;
        }
        > strong {
            font-weight: 700;
            font-size: 100px;
        }
    }
    .menu {
        margin: 60px 0 40px;
        li {
            display: inline-block;
            &:before {
                display: inline-block;
                width: 1px;
                height: 150px;
                background-color: #ececec;
                vertical-align: top;
                content: '';
            }
            &:first-child:before {
                width: 0;
            }
            a {
                display: inline-block;
                padding: 20px 50px;
                font-weight: 700;
                font-size: 20px;
                &:before {
                    @include sp-icon(0,0);
                    @include sp-size(64px,64px);
                    display: block;
                    margin: 0 auto 17px;
                    text-align: center;
                    content: '';
                }
                &:hover, &.current {
                    color: $brand-primary;
                }
            }
        }
        .item-login {
            a {
                &:before {
                    background-position: 0 -477px;
                }
                &:hover:before, &.current:before {
                    background-position: 0 -563px;
                }
            }
        }
        .item-join {
            a {
                &:before {
                    background-position: -87px -477px;
                }
                &:hover:before, &.current:before {
                    background-position: -87px -563px;
                }
            }
        }
        .item-reservation-confirm {
            a {
                &:before {
                    background-position: -173px -477px;
                }
                &:hover:before, &.current:before {
                    background-position: -173px -563px;
                }
            }
        }
        .item-rental-info {
            a {
                &:before {
                    width: 85px;
                    background-position: -260px -477px;
                }
                &:hover:before, &.current:before {
                    background-position: -260px -563px;
                }
            }
        }
        .item-notice {
            a {
                &:before {
                    background-position: -390px -477px;
                }
                &:hover:before, &.current:before {
                    background-position: -390px -563px;
                }
            }
        }
        .item-faq {
            a {
                &:before {
                    background-position: -477px -477px;
                }
                &:hover:before, &.current:before {
                    background-position: -477px -563px;
                }
            }
        }
    }
    .customer-number {
        font-size: 50px;
        font-family: 'Montserrat','NanumSquare', sans-serif;
        span {
            padding: 0 10px;
            background-color: $brand-primary;
            font-size: 20px;
            color: $white;
        }
        strong {
            display: block;
            color: $brand-primary;
            letter-spacing: 1px;
        }
    }
    .btn-menu-close {
        position: absolute;
        top: 31px;
        left: 42px;
        @include sp-icon(-347px,0);
        @include sp-size(41px,41px);
        border: 0;
    }
}
.site-quick-access {
    float: right;
    padding-top: 8px;
    li {
        float: left;
        a {
            font: 300 14px 'Noto Sans KR', sans-serif;
            color: $white;
        }
        &:before {
            display: inline-block;
            width: 1px;
            height: 12px;
            margin: 0 6px;
            background-color: #7cc5b8;
            content: '';
        }
        &:first-child:before {
            display: none;
        }
    }
}

/*******************************
    Footer
*******************************/
.footer {
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 10;
    width: 34%;
    min-width: 460px;
    text-align: center;
    font: 12px/17px 'Lato', 'Noto Sans KR', sans-serif;
    color: #bce2db;
    .terms-menu {
        margin-bottom: 6px;
        li {
            display: inline-block;
            a {
                font-size: 14px;
                color: $white;
            }
            &:before {
                display: inline-block;
                width: 1px;
                height: 12px;
                margin: 0 11px;
                background-color: #86c2b7;
                content: '';
            }
            &:first-child:before {
                display: none;
            }
        }
    }
    .company-info {
        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}
.main {
    .footer {
        position: fixed;
    }
}

/*******************************
    Common
*******************************/
.group {
    padding: 45px 0 55px;
    border-top: 1px solid #dcdcdc;
}
// Title
.section-title {
    padding-bottom: 30px;
    border-bottom: 2px solid $brand-primary;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    letter-spacing: -2px;
}
.secondary-title {
    font-weight: 700;
    font-size: 25px;
}
// Feedback
.feedback {
    position: fixed;
    top: 36px;
    right: 0;
    z-index: 10;
    a {
        display: inline-block;
        width: 39px;
        height: 133px;
        background: $brand-primary url("../images/feedback.png") no-repeat 0 0;
    }
}
// Placeholder
.placeholder {
    position: relative;
    label {
        position: absolute;
        top: 0;
        left: 0;
        margin: auto;
        padding: 0 20px;
        font: 17px 'Noto Sans KR', sans-serif;
        line-height: (60-2)/17;
        color: #7f7f7f;
    }
}
// Tooltip
.tooltip {
    display: none;
    position: absolute;
    padding: 15px 40px;
    @include border-radius(4px);
    background-color: $brand-primary;
    font: 300 15px 'Noto Sans KR', sans-serif;
    color: $white;
    &:after {
        @include sp-icon(-520px,0);
        @include sp-size(17px,15px);
        position: absolute;
        left: 50%;
        bottom: -15px;
        margin-left: -8px;
        content: '';
    }
    .point {
        color: #ffe01c;
    }
}
// 안내 리스트
.notify-list {
    li {
        padding-left: 8px;
        text-indent: -8px;
        font: 200 15px 'Noto Sans KR', sans-serif;
        color: #8d8d8d;
        &:before {
            display: inline-block;
            width: 4px;
            height: 4px;
            margin-right: 5px;
            @include border-radius(2px);
            background-color: #c6c6c6;
            vertical-align: middle;
            content: '';
        }
    }
}

/*******************************
    Main
*******************************/
// 메인 페이지 가이드 버튼
.page-guide {
    position: absolute;
    left: 50%;
    margin-left: -57px;
    &.page-up {
        top: 28px;
        i {
            margin: 0 auto 13px;
        }
    }
    &.page-down {
        bottom: 28px;
        i {
            margin: 13px auto 0;
        }
    }
    a {
        font-weight: 700;
        font-size: 22px;
        color: #ccc;
        i {
            display: block;
        }
        &:hover {
            color: $brand-primary;
            .icon-big-up {
                background-position: -260px 0;
            }
            .icon-big-down {
                background-position: -87px 0;
            }
        }
    }
}
// 예약하기
.main-reservation {
    text-align: center;
    .section-title {
        padding-bottom: 0;
        border-bottom: 0;
    }
    .reservation-step {
        display: inline-block;
        width: 100%;
        padding: 0 116px 0 149px;
        text-align: left;
        @media (max-width: 1600px){
            padding: 0 24px 0 40px;
        }
        .step-title {
            margin: 25px 0 10px;
            font-size: 24px;
            span {
                color: $brand-primary;
            }
        }
        .select-place {
            position: relative;
            &:before {
                @include sp-icon(0,-87px);
                @include sp-size(21px,30px);
                position: absolute;
                top: 50%;
                left: 40px;
                margin-top: -15px;
                content: '';
            }
            .form-control {
                padding-left: 80px;
                line-height: 84px;
            }
            .btn {
                height: 84px;
                padding: 0 20px;
                line-height: (84-2)/26;
            }
        }
        > .active {
            position: relative;
            .select-place {
                &:before {
                    background-position: -43px -87px;
                }
                .form-control {
                    padding-left: 79px;
                    border: 2px solid $brand-primary;
                    font-weight: 700;
                    color: $text-color;
                }
            }
        }
        .select-place-picker {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 11;
            width: 100%;
            border: 2px solid $brand-primary;
            border-top: 0;
            background-color: #eef6f5;
            .tabs {
                padding: 16px 0;
                text-align: center;
                li {
                    display: inline-block;
                    width: 145px;
                    height: 42px;
                    border: 1px solid #b2dcd5;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: (42-2)/20;
                    color: #4aaf9d;
                    cursor: pointer;
                    &.active {
                        border-color: $brand-primary;
                        background-color: $brand-primary;
                        color: #fff;
                    }
                }
            }
            .tab-content {
                border-top: 1px solid #d7e6e4;
                .tab-pane {
                    display: none;
                }
            }
            .content-select-place {
                position: relative;
                min-height: 223px;
                > li {
                    margin-top: -1px;
                    .radio {
                        .radio-label {
                            display: inline-block;
                            width: 306px;
                            height: 65px;
                            padding-right: 20px;
                            border: 1px solid #d7e6e4;
                            background-color: #f6fafa;
                            font-size: 22px;
                            line-height: (65)/22;
                            text-align: center;
                            color: #74a39e;
                        }
                        .radio-display {
                            width: 32px;
                            height: 32px;
                            margin: 0 0 0 -52px;
                            background-color: #f6fafa;
                            background-image: url("../images/form-rental-place.png");
                            vertical-align: text-bottom;
                        }
                        input[type="radio"]:checked ~ .radio-label {
                            background-color: #eef6f5;
                            font-weight: 700;
                            color: $brand-primary;
                        }
                        input[type="radio"]:checked ~ .radio-display {
                            background-color: #eef6f5;
                            background-image: url("../images/form-rental-place-checked.png");
                        }
                    }
                    .content-place {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 306px;
                        padding: 40px 0 40px 65px;
                        .place-name {
                            margin-bottom: 20px;
                            font-weight: 700;
                            font-size: 25px;
                        }
                        .place-info {
                            font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
                            > li {
                                padding: 2px 0;
                                &.place-address {
                                    padding: 2px 0 2px 54px;
                                    text-indent: -54px;
                                }
                                i {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .select-datetime {
            display: table;
            width: 100%;
            border: 1px solid #e1e1e1;
            .add-on {
                display: table-cell;
                width: 5%;
                text-align: center;
                vertical-align: middle;
                &:before {
                    @include sp-icon(-563px,0);
                    @include sp-size(24px,24px);
                    content: '';
                }
            }
            .select-date,
            .select-time {
                display: table-cell;
                height: 84px;
                padding: 0 30px;
                text-align: center;
                vertical-align: middle;
                .text-date,
                .text-time {
                    cursor: pointer;
                }
                &.active {
                    position: relative;
                    &:after {
                        position: absolute;
                        top: -1px;
                        z-index: -1;
                        width: 100%;
                        height: 84px;
                        border: 2px solid $brand-primary;
                        content: '';
                    }
                }
            }
            .select-date {
                .text-date{
                    @include clearfix;
                    &:before {
                        float: left;
                        @include sp-icon(-173px,-87px);
                        @include sp-size(25px,25px);
                        margin: 8px 9px 0 0;
                        content: '';
                    }
                    strong {
                        float: left;
                        font: 500 35px 'Montserrat', sans-serif;
                    }
                    small {
                        float: left;
                        margin: 6px 0 0 9px;
                        padding-left: 9px;
                        border-left: 1px solid #d6d6d6;
                        font-size: 15px;
                        color: #545454;
                        span {
                            display: block;
                            margin-top: -3px;
                            font: 14px 'Montserrat', sans-serif;
                            color: #434343;
                            letter-spacing: 1.5px;
                        }
                    }
                }
                &.active{
                    &:before {
                        background-position: -217px -87px;
                    }
                    &:after {
                        left: -1px;
                    }
                }
            }
            .select-time {
                &:before {
                    float: left;
                    @include sp-icon(-260px,-87px);
                    @include sp-size(23px,23px);
                    margin: 10px 9px 0 0;
                    content: '';
                }
                border-left: 1px solid #e1e1e1;
                strong {
                    font: 500 35px 'Montserrat', sans-serif;
                }
                &.active {
                    &:before {
                        background-position: -303px -87px;
                    }
                    &:after {
                        right: -1px;
                    }
                }
            }
            @media (max-width: 1200px) {
                .select-date,
                .select-time {
                    padding: 0 11px;
                    &:before {
                        margin-top: 3px;
                    }
                    strong {
                        font-size: 26px;
                    }
                    small {
                        margin-top: 4px;
                        font-size: 12px;
                        span {
                            margin-top: -1px;
                            font-size: 11px;
                        }
                    }
                }
            }
            .datepicker,
            .timepicker {
                display: none;
                position: absolute;
                top: 84px;
                z-index: 11;
                cursor: default;
            }
            .datepicker {
                left: -1px;
                width: 370px;
            }
            .timepicker {
                right: -1px;
                width: 352px;
                .btn-align-center {
                    margin-top: 18px;
                }
            }
        }
        .select-car {
            @include clearfix;
            .checkbox {
                float: left;
                .checkbox-label {
                    display: inline-block;
                    width: 135px;
                    margin-right: -1px;
                    border: 1px solid #dadada;
                    background-color: $white;
                    font-size: 20px;
                    line-height: (84-2)/20;
                    text-align: center;
                }
                input[type=checkbox]:checked + .checkbox-label {
                    background-color: $brand-primary;
                    color: $white;
                }
            }
        }
        .complete {
            .select-place {
                &:before {
                    @include sp-icon(-43px,-87px);
                }
            }
            &.select-date {
                &:before {
                    background-position: -217px -87px;
                }
            }
            &.select-time {
                &:before {
                    background-position: -303px -87px;
                }
            }
        }
        & + .btn-align-center {
            margin-top: 25px;
        }
    }
}
// 서비스 소개
.service-info {
    @include clearfix;
    > li {
        float: left;
        width: 33.3%;
        text-align: center;
        .main-text {
            font-size: 35px;
        }
        .sub-text {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .partner-info,
    .discount-info,
    .reservation-info {
        margin: 83px 0 80px;
        li {
            display: inline-block;
            padding: 0 14px;
            &:before {
                @include sp-icon(0,-217px);
                @include sp-size(108px,108px);
                display: block;
                margin-bottom: 8px;
                content: '';
            }
        }
    }
    .partner-info {
        color: #939598;
        .service1:before {
            background-position: 0 -217px;
        }
        .service2:before {
            background-position: -130px -217px;
        }
    }
    .discount-info {
        color: $brand-primary;
        .service3:before {
            background-position: -260px -217px;
        }
        .service4:before {
            background-position: -390px -217px;
        }
    }
    .reservation-info {
        .service5:before {
            background-position: 0 -347px;
        }
        .service6:before {
            background-position: -130px -347px;
        }
    }
}
// 고객센터
.customer-service {
    text-align: center;
    .section-title {
        padding-bottom: 0;
        border-bottom: 0;
    }
    .cs-info {
        margin-top: 30px;
        font: 300 17px 'Montserrat', 'Noto Sans KR', sans-serif;
        .number {
            font-weight: 400;
            font-size: 55px;
            color: $brand-primary;
            .icon-big-phone {
                width: 56px;
                height: 56px;
                @include border-radius(50%);
                background-color: $brand-primary;
                background-position: -378px -75px;
            }
        }
        .mail a {
            font-size: 20px;
            color: $brand-primary;
            cursor: default;
        }
    }
    .quick-customer {
        margin-top: 42px;
        .quick-notice {
            display: inline-block;
            position: relative;
            vertical-align: top;
            li {
                padding: 12px 0 14px;
                border-bottom: 1px solid #e5e5e6;
                font: 200 20px 'Noto Sans KR', sans-serif;
                color: #303030;
                text-align: left;
            }
            .btn-more {
                position: absolute;
                top: 0;
                right: -34px;
                width: 34px;
                height: 34px;
                background-color: #c2c3c7;
                font: 100 30px 'Noto Sans KR', sans-serif;
                line-height: (34)/30;
                color: $white;
            }
        }
        .quick-link {
            display: inline-block;
            margin-left: 53px;
            vertical-align: top;
            .link-guide,
            .link-faq {
                display: inline-block;
                margin-left: 17px;
                padding: 44px;
                color: $white;
                &:before {
                    @include sp-icon(0,0);
                    @include sp-size(95px,57px);
                    display: block;
                    margin-bottom: 7px;
                    content: '';
                }
            }
            .link-guide {
                background-color: $brand-primary;
                &:before {
                    background-position: -130px -130px;
                }
            }
            .link-faq {
                background-color: $brand-default;
                &:before {
                    background-position: 0 -130px;
                }
            }
        }
    }
}

/*******************************
    Reservation
*******************************/
.reservation {
    .btn-align-center {
        margin-top: 34px;
        .btn {
            padding: 0 177px;
        }
    }
}
.reservation-list {
    display: inline-block;
    margin: 13px 0 25px;
    padding-left: 34px;
    background: url("../images/line-dotted.png") no-repeat 0 100%;
    text-align: left;
    li {
        padding-top: 10px;
        color: $white;
        &:first-child {
            padding-top: 0;
        }
        .icon-calendar,
        .icon-map-white {
            margin: 0 4px;
        }
        > span {
            margin-left: 10px;
            font-size: 18px;
        }
        p {
            display: inline-block;
            margin-left: 80px;
            font-weight: 700;
            font-size: 18px;
            b {
                font: 500 22px 'Montserrat', sans-serif;
                small {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
    }
}
.reservation-payment {
    margin: 0 115px;
    font-family: 'Montserrat', 'NanumSquare', sans-serif;
    dt {
        @include clearfix;
        padding: 17px 30px 20px;
        background-color: #f9f9f9;
        span {
            float: left;
            margin-top: 10px;
            font-weight: 700;
            font-size: 20px;
        }
        .total-price {
            float: right;
            font-weight: 500;
            font-size: 34px;
            color: $brand-primary;
            em {
                font-weight: 400;
                font-size: 19px;
            }
        }
    }
    dd {
        @include clearfix;
        padding: 2px 30px;
        background-color: #acdad2;
        &:nth-of-type(1) {
            padding-top: 15px;
        }
        &:last-child {
            padding-bottom: 18px;
        }
        span {
            float: left;
            font-size: 16px;
        }
        .price {
            float: right;
            font-weight: 500;
            font-size: 20px;
            em {
                font-weight: 400;
                font-size: 18px;
            }
        }
    }
    @media (max-width: 1500px) {
        margin: 0 45px;
    }
}
.reservation-option {
    @include clearfix;
    padding: 75px 0 60px;
    .secondary-title {
        margin-bottom: 35px;
        i {
            margin-left: 5px;
        }
    }
    .delivery {
        float: left;
        width: 45%;
    }
    .insurance {
        float: left;
        width: 55%;
        .secondary-title {
            position: relative;
            .icon-point:hover {
                & + .tooltip {
                    display: block;
                    top: -88px;
                    left: -80px;
                    width: 383px;
                }
            }
        }
    }
}
.input-reservation-info {
    .secondary-title {
        margin-bottom: 9px;
    }
    .checkbox {
        text-align: right;
    }
    .license-type-box {
        .radio {
            float: left;
            width: 50%;
            .radio-label {
                display: inline-block;
                width: 100%;
                border: 1px solid #dadada;
                border-left: 0;
                background-color: #f6f6f6;
                font-size: 18px;
                line-height: (60-2)/18;
                text-align: center;
            }
            &:first-child .radio-label {
                border-left: 1px solid #dadada;
            }
            input[type=radio]:checked + .radio-label {
                background-color: $brand-primary;
                color: $white;
            }
        }
    }
}
.select-payment {
    .secondary-title {
        margin-bottom: 42px;
    }
    .form-inline {
        .form-label {
            vertical-align: top;
        }
    }
    .payment-option-box,
    .discount-coupon {
        > div {
            display: table;
            border-collapse: collapse;
            width: 100%;
            &.bottom {
                margin-top: -1px;
            }
        }
        .radio {
            display: table-cell;
            width: 50%;
            border: 1px solid #d5d5d5;
            vertical-align: top;
            .radio-label {
                display: block;
                padding: 16px 0;
                background-color: #f6f6f6;
                font: 200 17px 'Noto Sans KR', sans-serif;
                color: #7f7f7f;
                text-align: center;
                vertical-align: middle;
                &:before {
                    @include sp-icon(0,0);
                    @include sp-size(25px,25px);
                    margin-right: 5px;
                    vertical-align: middle;
                    content: '';
                }
                @media (max-width: 1500px) {
                    font-size: 13px;
                }
            }
            input[type="radio"]:checked ~ .radio-label {
                background-color: $brand-primary;
                color: $white;
            }
        }
        .creditCard {
            .radio-label {
                &:before {
                    background-position: -477px -127px;
                }
            }
            input[type="radio"]:checked ~ .radio-label {
                &:before {
                    background-position: -520px -127px;
                }
            }
        }
        .account-transfer {
            .radio-label {
                &:before {
                    background-position: -563px -130px;
                }
            }
            input[type="radio"]:checked ~ .radio-label {
                &:before {
                    background-position: -607px -130px;
                }
            }
        }
        .nPay {
            .radio-label {
                &:before {
                    width: 80px;
                    height: 32px;
                    margin-right: 0;
                    background: url("../images/npay.png") no-repeat 0 0;
                }
            }
            input[type="radio"]:checked ~ .radio-label {
                &:before {
                    background-image: url("../images/npay-on.png");
                }
            }
        }
        .kakaoPay {
            .radio-label {
                &:before {
                    width: 109px;
                    height: 32px;
                    margin-right: 0;
                    background: url("../images/kakaopay.png") no-repeat 0 0;
                }
            }
            input[type="radio"]:checked ~ .radio-label {
                &:before {
                    background-image: url("../images/kakaopay-on.png");
                }
            }
        }
        @media (max-width: 1500px) {
            .radio {
                .radio-label {
                    font-size: 13px;
                }
            }
            .nPay {
                .radio-label {
                    &:before {
                        width: 65px;
                        height: 26px;
                        background-size: 65px 26px;
                    }
                }
            }
            .kakaoPay {
                .radio-label {
                    &:before {
                        width: 89px;
                        height: 26px;
                        background-size: 89px 26px;
                    }
                }
            }
        }
    }
    .discount-coupon {
        .coupon {
            .radio-label {
                font-size: 18px;
                &:before {
                    display: none;
                }
                @media (max-width: 1500px) {
                    font-size: 16px;
                }
            }
        }
        .promotion-code {
            .radio-label {
                &:before {
                    @include sp-size(28px,24px);
                    background-position: -563px -173px;
                }
            }
            input[type="radio"]:checked ~ .radio-label {
                &:before {
                    background-position: -607px -173px;
                }
            }
        }
    }
    .select-coupon {
        margin-top: -1px;
        .selectbox {
            border: 0;
            vertical-align: top;
        }
        .input-group-btn {
            width: 74px;
            .btn {
                width: 100%;
                background-color: $brand-default;
                font-size: 16px;
                line-height: (56-2)/16;
                &.btn-coupon-select {
                    border-color: $brand-primary;
                    background-color: $brand-primary;
                }
            }
        }
    }
    .select-coupon-box {
        .form-label {
            vertical-align: middle;
        }
    }
}
.reservation-agreement {
    text-align: center;
    .checkbox-label {
        font: 18px 'Noto Sans KR', sans-serif;
    }
    dt {
        padding: 15px 0;
        border: 1px solid $brand-primary;
        background-color: $white;
    }
    dd {
        padding: 20px 0;
        border: 1px solid #d5d5d5;
        background-color: #f7f7f7;
    }
    .each-agreement {
        display: inline-block;
        width: 378px;
        text-align: left;
        li {
            @include clearfix;
            padding: 3px 0;
            .checkbox {
                float: left;
            }
            .btn {
                float: right;
            }
        }
    }
}

/*******************************
    Layer
*******************************/
.modal {
    display: none;
    &.modal-backdrop {
        &:after {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            margin: auto;
            background-color: #000;
            opacity: .8;
            filter: alpha(opacity=80);
            content: '';
        }
    }
    .btn-modal-close {
        position: absolute;
        top: 18px;
        right: 28px;
        @include sp-icon(-477px,0);
        @include sp-size(30px,30px);
    }
    .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 21;
    }
    .modal-head {
        padding: 20px 38px;
        background-color: $brand-primary;
        font-weight: 700;
        font-size: 27px;
        color: $white;
    }
    .modal-body {
        padding: 0 10px 10px;
        background-color: $white;
        .modal-body-inner {
            padding: 0 20px;
        }
        .text {
            padding: 28px 0 21px;
            font-size: 20px;
            b {
                font-weight: 700;
                font-size: 30px;
            }
        }
    }
}
// 예약하기 - 업그레이드
.upgrade {
    position: absolute;
    top: 85px;
    left: 50%;
    width: 360px;
    margin-left: -180px;
    padding: 10px;
    @include border-radius(4px);
    background-color: $white;
    .btn-modal-close {
        top: 19px;
        right: 22px;
        background-position: -433px 0;
    }
    .text {
        margin: 52px 0 20px;
        font-size: 18px;
    }
    .image {
        padding: 0 8%;
    }
}
// 예약하기 - 딜리버리 선택
.select-delivery {
    .modal-content {
        margin: -290px 0 0 -442px;
    }
    .modal-body {
        @include clearfix;
        padding: 0 38px 49px;
    }
    .delivery-list {
        float: left;
        width: 342px;
        .search-delivery {
            position: relative;
            .icon-search {
                position: absolute;
                top: 50%;
                left: 28px;
                margin-top: -10px;
            }
            .form-control {
                height: 70px;
                padding-left: 62px;
                border: 1px solid #d8d8d8;
                background-color: #f8f8f8;
                line-height: 70px;
                font-size: 18px;
            }
        }
        .delivery-place-list {
            overflow-x: hidden;
            overflow-y: auto;
            height: 307px;
            border: 1px solid #d8d8d8;
            border-top: 0;
            li {
                @include clearfix;
                padding: 15px 20px;
                border-bottom: 1px solid #d8d8d8;
                .place {
                    float: left;
                    padding-top: 5px;
                    span {
                        display: block;
                        font-weight: 700;
                        font-size: 20px;
                    }
                    .btn {
                        margin-top: 12px;
                        padding: 0 29px;
                    }
                }
                &.select {
                    border: 2px solid $brand-primary;
                    background-color: #f3f9f7;
                }
            }
            .badge-line-number {
                float: right;
                display: inline-block;
                width: 70px;
                height: 32px;
                @include border-radius(16px);
                background-color: $brand-default;
                font-size: 16px;
                line-height: (32)/16;
                color: $white;
                text-align: center;
                vertical-align: top;
            }
        }
    }
    .map-area {
        overflow: hidden;
        float: left;
        height: 377px;
        border: 1px solid #d8d8d8;
        border-left: 0;
        * {
            width: 100%;
        }
    }
}
// 예약하기 - 프로모션 코드
.promotion-code-box {
    .modal-content {
        width: 490px;
        margin-top: -175px;
        margin-left: -245px;
    }
    .modal-body {
        padding-top: 40px;
        text-align: center;
        .promotion-title {
            display: block;
            margin-bottom: 21px;
            font-size: 18px;
            color: $brand-primary;
        }
        .code-number {
            padding: 15px 56px;
            @include border-radius(33px);
            background-color: #eff8f6;
            font: 700 30px 'Lato', sans-serif;
            color: $brand-primary;
        }
        .text {
            font-size: 25px;
        }
        .btn-group {
            margin-top: 30px;
        }
    }
}
// 예약하기 - 취소 수수료 안내
.cancel-fee {
    .modal-content {
        width: 490px;
        margin-top: -293px;
        margin-left: -245px;
    }
    .text {
        padding-top: 35px;
        text-align: center;
    }
    .notify-list {
        margin: 25px 0 20px;
    }
}

/*******************************
    Helper Class
*******************************/
.clearfix {
    @include clearfix;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}